<!DOCTYPE html>
<html>
    <head> 
        <title> String Matcher </title>
    </head>
    <body>
        <h1> <center> My InfoExtraction App </center>  </h1>
        <p> Folder: </p>
        <p> Keyword: </p>
        <form method="POST" action="/">
            <input type="text" name="keyword"> 
            <p> Algoritma: </p>
            <input type="radio" id="bm" name="algorithm" value="bm">
            <label for="bm">Boyer-Moore</label><br>
            <input type="radio" id="kmp" name="algorithm" value="kmp">
            <label for="kmp">KMP</label><br>
            <input type="radio" id="regex" name="algorithm" value="regex">
            <label for="regex">Regex</label> <br> <br>
            <input type="submit" name="button">
        </form> <br> <br>
        <a href="/about"> About </a>
    </body>
</html>